body {
    background: #dfe9f3;
    margin: 0;
    padding: 0;
}

.cosa {
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 1s ease, box-shadow 1s ease; 
}


.cosa.animar {
    animation: bounce 0.4s ease forwards; 
}

@keyframes bounce {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.07); }
    100% { transform: scale(1.05); }
}

